<h3>Add a new action</h3>

<%= form_for :actions, url: opportunity_actions_path, method: :post do |f| %>
<%= f.text_field :description, placeholder: "What are you doing?"%><br>
<%= f.date_field :meeting_date, placeholder: "When?"%><br>
<%= f.date_field :follow_up, placeholder: "Follow up on"%><br>
<%= f.text_field :notes, placeholder: "Notes" %><br>
<%= f.submit "Submit" %><br>
<% end %>

<!-- This is just a start on the form. We will also need to add the advocate which will be done in the controller I guess. We will have to allow the user to pick from a list of connections connected to this opportunity. -->
