<%= form_for :session, :html=>{:class => "form-inline"}, url: sessions_path do |f| %>
  <%= f.text_field :email, placeholder: "email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.submit 'Login', class: 'btn btn-success' %>
  <% end %>
  <% if @error_message %>
    <p><%= @error_message%></p>
  <% end %>