<h1>Hello World</h1>
<h3>Sign Up</h3>
<%= form_for :user, url: users_path do |f| %>
<%= flash[:error] %>
<br>
<%= f.label :first_name %> <br>
<%= f.text_field :first_name %><br>
<%= f.label :last_name %><br>
<%= f.text_field :last_name %><br>
<%= f.label :email %><br>
<%= f.text_field :email %><br>
<%= f.label :password %><br>
<%= f.password_field :password %><br>
<%= f.submit 'Sign Up'%>
<% end %>

<h3>Login</h3>
<%= form_for :session, url: sessions_path do |f| %>
  <% if @error_message %>
    <p><%= @error_message%></p>
  <% end %>
  <%= f.text_field :email, placeholder: "email" %><br>
  <%= f.password_field :password, placeholder: "password" %><br>
  <%= f.submit 'Login' %>
<% end %>