<div class="row" >
  <div class="col-lg-1"></div>
  <div class="col-lg-3">
    <span id="opp-header">Opportunities</span>
  </div>
  <div class="col-lg-4">
    <span id="last-activity">Last Activity</span>
  </div>
  <div class="col-lg-3">
     <span id="on-date">On Date</span>
  </div>
</div>

<%@opportunities.each do |opportunity| %>
  <div class = "row">
    <div class = "col-lg-1"></div>
    <div class = "col-lg-3">
    <%= link_to opportunity.name, opportunity%>
  </div>
  </div>
<%end%>
<br>

<%= link_to 'Add Opportunity', new_opportunity_path, class: 'btn btn-warning' %><br>
<h1>What's Next</h1>
<% @upcoming_actions.each do |action| %>
  <% if action.opportunity.user == @user %>
    <%= action.description %>
    <%= action.meeting_date %>
    <%= action.advocate.name %><br>
    <%= action.notes %>
    <br><br>
  <% end %>
<% end %>
<h1>Recent Activity</h1>
<% @recent_actions.each do |action| %>
  <%if action.opportunity.user == @user%>
    <%= action.description %> on <%=action.meeting_date%>
    <%= action.notes %><br>
  <% end %>
<% end %>


<%= link_to "Logout", session_path(@user), method: :delete %>