<table class="table table-hover">
  <tr>
    <th>Opportunities</th>
    <th>Last Actitivy</th>
    <th>On Date</th>
  </tr>
  <tr>
    <%@opportunities.each do |opportunity| %>
      <td><%= link_to opportunity.name, opportunity, class: "list-group-item"%></td>
      <% if opportunity.actions.last %>
        <td><%= opportunity.actions.last.description %></td>
        <td><%= opportunity.actions.last.created_at %></td>
      <% end %>
  </tr>
  <%end%>
</table>


<%= link_to 'New Opportunity', new_opportunity_path, class: 'btn btn-warning' %><br>
<h1>What's Next</h1>
<% @upcoming_actions.each do |action| %>
  <% if action.opportunity.user == @user %>
    <%= action.description %>
    <%= action.meeting_date %>
    <%= action.advocate.name %><br>
    <%= action.notes %>
    <br><br>
  <% end %>
<% end %>
<h1>Recent Activity</h1>
<% @recent_actions.each do |action| %>
  <%if action.opportunity.user == @user%>
    <%= action.description %> on <%=action.meeting_date%>
    <%= action.notes %><br>
  <% end %>
<% end %>


<%= link_to "Logout", session_path(@user), method: :delete %>