<%=@opportunity.name%>
<br>
<%=@opportunity.website%>
<br>
<%=@opportunity.career_page%>
<br>
<%=@opportunity.notes%>


<h1>Actions</h1>
<%@opportunity.actions.each do |action|%>
  <%advocate = Advocate.find(action.advocate_id)%>
  <%=action.description%>
  <p>With: <%=advocate.name%></p>
  <p>When: <%=action.meeting_date%> </p>
  <p>Notes: <%=action.notes%></p>
<%end%>