Company: <%= @opportunity.name %>
<br>
Site: <%= link_to @opportunity.website %>
<br>
Job Site: <%= link_to @opportunity.career_page %>
<br>
Notes: <%=@opportunity.notes%>


<h1>Actions</h1>
<%@actions.each do |action|%>
  <%advocate = Advocate.find(action.advocate_id)%>
  <%=action.description%>
  <p>With: <%=advocate.name%></p>
  <p>When: <%=action.meeting_date%> </p>
  <p>Notes: <%=action.notes%></p>
<%end%>


<%= link_to 'New Action', new_opportunity_action_path(@opportunity) %><br>
<%= link_to 'Home', opportunities_path %>