Company: <%= @opportunity.name %>
<br>
Site: <%= link_to @opportunity.website %>
<br>
Job Site: <%= link_to @opportunity.career_page %>
<br>
Notes: <%=@opportunity.notes%>

<h1>Advocates</h1>
<% @advocates.each do |advocate| %>
  <h4><%=advocate.name%></h4>
  <%= advocate.email%><br>
    <%= link_to advocate.twitter, "https://www.twitter.com/" + advocate.twitter %>
    <% if advocate.blog %>
      <%= link_to 'Blog', advocate.blog %><br>
    <% end%><br>
    <%= link_to 'Update', opportunity_advocate_path(@opportunity, advocate) %>
<% end %>
<%= link_to 'Add new Advocate', new_opportunity_advocate_path(@opportunity)%>


<h1>Actions</h1>
<%@actions.each do |action|%>
  <h4><%=action.description%></h4>
  <p>With: <%= action.advocate.name %></p>
  <p>When: <%=action.meeting_date%> </p>
  <p>Notes: <%=action.notes%></p>
<%end%>


<%= link_to 'New Action', new_opportunity_action_path(@opportunity) %><br>
<%= link_to 'Home', opportunities_path %>